body {
	background-color: #82ad98;
}

p {
	font-size: 32px;
	margin-top: 90px;
}

.container {
	display: flex;
}

.left {
	flex-basis: 15%;
	width: 15%;
	z-index: 0;
}

.right {
	flex-basis: 85%;
	width: 85%;
	z-index: 1;
}

.left .image-container {
	position: relative;	
	width: inherit;
}

.left .image-container a {
	width: inherit;
}

.left .image-container img {
	width: inherit;
	position: fixed;
	left: 300px;
	top: 200px;
}

.right .text-container {
	text-align: right;
}
