body {
	background-color: #82ad98;
}

p {
	font-size: 32px;
	margin-top: 90px;
}

a {
	word-break: break-all;
}

div {
	position: relative;
}

.image-container {
	position: fixed;
	width: 15vw;
	left: 300px;
	top: 200px;
	z-index: 0;
}

.image-container a {
	display: block;
}

.image-container img {
	width: 100%;
}

.text-container {
	text-align: right;
	z-index: 1;
}
